@use '../../utils' as *;



.footer-area {
    background: #f6cbb7;

    .footer-logo {
        width: 100px;
    }

    .footer-logo img {
        width: 100%;
    }

    .footer-widget-title {
        font-size: 22.5px;
        color: #fff;
        margin-bottom: 20px;
    }




}

.widget-links {
    list-style: none;

    li {
        margin-bottom: 10px;

        a {
            color: #ffffffe6;
            font-size: 14px;
            transition: 0.3s;
        }

        &:hover a {
            text-decoration: underline;
        }

    }

}

.widget-info {
    color: #ffffffe6;
    padding-right: 36px;
}

.subscription-form {
    position: relative;
}

.subscription-form input {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    color: #ffffffe6;
    font-size: 16px;
    width: 100%;
    transition: 0.3s;
    border-radius: 6px;
    height: 45px;
    position: relative;
    border: 1px solid #ffffffe6;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
}


.floating-label {
    position: absolute;
    top: 12px;
    left: 20px;
    color: #ffffffe6;
    transition: 0.3s;

}

.subscription-form input:focus+.floating-label,
.subscription-form input:not(:placeholder-shown)+.floating-label {
    font-size: 12px;
    left: 21px;
    top: 0;
}

.copyright-content {
    font-size: 11px;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;

    a {
        transition: 0.3s;

        &:hover {
            text-decoration: underline;
        }
    }
}