@use '../../utils' as *;

/*----------------------------------------*/
/* brand slider CSS START
/*----------------------------------------*/


.t-linear {
    transition-timing-function: linear;
}

.brand-area {
    padding: 53px 0;
    background: var(--theme-color-3);

}



.brand-img {
    display: block;
    width: 100%;
    max-width: 150px;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

.brand-img img {
    width: 100%;
    height: auto;

}