@use '../../utils' as *;

/*----------------------------------------*/
/*  30. hero CSS START
/*----------------------------------------*/
.sub-title {
    color: #161616;
    font-family: "Apercu";
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    display: inline-block;
}

.video-title.mb-30 {
    margin-bottom: 30px;

}

.feature-text {
    max-width: 782px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    font-family: "Apercu";
    color: #5f6368;
    line-height: 1.4;
}

.feature-title-text {
    color: #000;
    font-weight: 500;
    font-size: 20px;
    font-family: "Apercu";
    text-align: center;
    margin-bottom: 30px;
}


.feature-title {
    color: #161616;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -.03em;
    line-height: 1.4;
}



.feature {
    width: 303px;
    display: flex;
    row-gap: 64px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-item {
    text-align: center;
    width: 240px;
}

.feature-icon {
    margin-bottom: 20px;
    max-width: 50px;
}

.feature-item p {
    color: #5f6368;
    font-family: "Apercu";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
}

.feature-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-video-container {
    align-self: stretch;
    border-radius: 32px 32px 32px 32px;
    max-width: 100%;
    position: relative;
    width: 380px;
    overflow: hidden;
}