@use '../../utils' as *;

/*----------------------------------------*/
/*  30. service CSS START
/*----------------------------------------*/


.service {
    background: var(--theme-color-3);
    padding: 25px;
    border-radius: 24px;
}

.service-icon {
    max-width: 70px;
    margin-bottom: 15px;
}

.service-title {
    font-size: 22.5px;
    color: var(--title-color);
    margin-bottom: 15px;
    letter-spacing: 0.6px;
}

.service-text {
    font-size: 16px;
    margin-bottom: 0;
}